@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Adam's ASP.NET App</h1>
    <p class="lead">Hello and welcome to my personal media database! <br/>
    I have designed this project with MVC and Entity Framework 6.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Inside you find a sample set of data to demonstrate the basic capability of this app. Feel free to play around
            and obersve the many ways you can add, display, edit, and remove data from the database!

        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>If you have any questions and comments, please to not hesitate to contact me!</p>
        <p><a class="btn btn-default" href="mailto:adamrobertcushing@gmail.com">Contact &raquo;</a></p>
    </div>
</div>